.App {
  text-align: center;
  font-size: small;
  padding: 12px;
}

.wrapper {
  width: 60%;
  padding: 0 50px 20px;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 12px;
  margin: 50px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.header {
  font-size: 40px;
  margin: 0;
}

.nav-links {
  display: flex;
}

li {
  list-style: none;
}

.nav-links li {
  margin: 12px;
}

.calculator-sect {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.calculator {
  display: flex;
  background: whitesmoke;
  flex-direction: column;
  width: 300px;
  height: 280px;
}

.quotes {
  font-size: 23px;
}

.number-screen {
  display: flex;
  background: #858694;
  width: 100%;
  height: 17%;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 2px;
}

.input {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr 5fr;
  background: whitesmoke;
  height: 83%;
  margin-top: 0.02em;
}

.number-input {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 5fr 5fr 5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

button {
  box-sizing: border-box;
  border: 0.06em solid silver;
}

.zero {
  grid-column: 1/3;
}

#id-3,
#id-7,
#id-11,
#id-15,
#id-18 {
  background: #ff9a46;
}

.operation {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  background: #ff9a46;
}
